<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      defer
      type="text/javascript"
      src="/cas_9/scripts/script.js"
    ></script>
    <title>Homework cas_9</title>
  </head>
  <body>
    <form>
      <caption>
        <h3>Zadaca-4</h3>
      </caption>
      <input type="text" name="text" id="text" placeholder="Insert Text" />
      <br />
      <input type="text" name="color" id="color" placeholder="Insert Color" />
      <br />
      <input
        type="text"
        name="textSize"
        id="textSize"
        placeholder="Insert  text-size in number"
      />
      <br />
      <button id="formButton" type="button">Submit</button>
    </form>
  </body>
</html>
